<ion-header>
  <ion-navbar>
    <ion-title>
      Kool todo list 💪
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label floating>Task name</ion-label>
    <ion-input type="text" [(ngModel)]="task"></ion-input>
  </ion-item>
  <div padding>
    <button ion-button color="primary" (click)="addTask()">Add new task</button>
    <button ion-button color="danger" (click)="clearAll()">Cleal All</button>
  </div>
  <div padding *ngIf="tasks !== undefined && tasks.length > 0">
    <h2>Task List</h2>
    <ion-list>
      <ion-item-sliding *ngFor="let item of tasks">
        <ion-item> {{ item }} </ion-item>
        <ion-item-options side="right">
          <button ion-button (click)="deleteTask(item)">Done</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  <div padding text-right>
    <span style="font-size: 12px; font-style: italic;">Made by Mun with ❤️ </span>
  </div>
</ion-content>
